@import url(https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);
@import url(https://fonts.googleapis.com/css?family=Didact+Gothic:400);
@import url(https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,800,900);





body {
  font-family: Montserrat;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
}
.display-1 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-2 {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 2rem;
}
.display-2 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-4 {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Heebo', sans-serif;
  font-size: 1.5rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Heebo', sans-serif;
  font-size: 1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  border-radius: .25rem;
  font-weight: 400;
  border-width: 2px;
  font-style: normal;
  letter-spacing: normal;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 2rem;
  border-radius: 0.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn-sm {
  font-weight: 400;
  letter-spacing: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}
.btn-md {
  font-weight: 400;
  letter-spacing: normal;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 2rem;
  border-radius: 0.25rem;
}
.btn-md:after {
  font-family: MobiriseIcons !important;
  content: '\e966';
  position: relative;
  opacity: 0;
  font-size: inherit;
  text-align: center;
  transition: all .3s;
  margin-left: -1.5rem;
  padding-left: .5rem;
}
.btn-md:hover {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.btn-md:hover:after {
  transition: all .3s;
  opacity: 1;
  margin-left: 0;
}
.btn-lg {
  font-weight: 400;
  letter-spacing: normal;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 2rem;
  border-radius: 0.25rem;
}
.bg-primary {
  background-color: #1dc9cb !important;
}
.bg-success {
  background-color: #1dc9cb !important;
}
.bg-info {
  background-color: #ff4f7b !important;
}
.bg-warning {
  background-color: #c1c1c1 !important;
}
.bg-danger {
  background-color: #444444 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #1dc9cb !important;
  border-color: #1dc9cb !important;
  transition: all .5s;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  transition: all .5s;
  color: #ffffff !important;
  background-color: #138788 !important;
  border-color: #138788 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #138788 !important;
  border-color: #138788 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #188ef4 !important;
  border-color: #188ef4 !important;
  transition: all .5s;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  transition: all .5s;
  color: #ffffff !important;
  background-color: #0966b7 !important;
  border-color: #0966b7 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #0966b7 !important;
  border-color: #0966b7 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #ff4f7b !important;
  border-color: #ff4f7b !important;
  transition: all .5s;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  transition: all .5s;
  color: #ffffff !important;
  background-color: #ff0242 !important;
  border-color: #ff0242 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #ff0242 !important;
  border-color: #ff0242 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #1dc9cb !important;
  border-color: #1dc9cb !important;
  transition: all .5s;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  transition: all .5s;
  color: #ffffff !important;
  background-color: #138788 !important;
  border-color: #138788 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #138788 !important;
  border-color: #138788 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
  transition: all .5s;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  transition: all .5s;
  color: #ffffff !important;
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #444444 !important;
  border-color: #444444 !important;
  transition: all .5s;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  transition: all .5s;
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  transition: all .5s;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  transition: all .5s;
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  transition: all .5s;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  transition: all .5s;
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none !important;
  border-color: #107172 !important;
  color: #107172 !important;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff !important;
  background-color: #1dc9cb !important;
  border-color: #1dc9cb !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #1dc9cb !important;
  border-color: #1dc9cb !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none !important;
  border-color: #08589e !important;
  color: #08589e !important;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff !important;
  background-color: #188ef4 !important;
  border-color: #188ef4 !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #188ef4 !important;
  border-color: #188ef4 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none !important;
  border-color: #e8003a !important;
  color: #e8003a !important;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff !important;
  background-color: #ff4f7b !important;
  border-color: #ff4f7b !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #ff4f7b !important;
  border-color: #ff4f7b !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none !important;
  border-color: #107172 !important;
  color: #107172 !important;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff !important;
  background-color: #1dc9cb !important;
  border-color: #1dc9cb !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #1dc9cb !important;
  border-color: #1dc9cb !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none !important;
  border-color: #8e8e8e !important;
  color: #8e8e8e !important;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff !important;
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none !important;
  border-color: #111111 !important;
  color: #111111 !important;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff !important;
  background-color: #444444 !important;
  border-color: #444444 !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #444444 !important;
  border-color: #444444 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none !important;
  border-color: #000000 !important;
  color: #000000 !important;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-underline {
  padding: .5rem;
  display: inline-flex;
  font-weight: 400;
  align-items: center;
  position: relative;
  transition: all .3s;
}
.btn-underline .mbr-iconfont {
  color: inherit;
  padding-right: .5rem;
}
.btn-underline:after {
  font-family: MobiriseIcons !important;
  content: '\e966';
  position: relative;
  padding-left: .3rem;
}
.btn-underline:hover {
  filter: brightness(85%);
}
.btn-underline:hover:after {
  transition: all .3s;
  padding-left: .5rem;
}
.text-primary {
  color: #1dc9cb !important;
}
.text-secondary {
  color: #188ef4 !important;
}
.text-success {
  color: #1dc9cb !important;
}
.text-info {
  color: #ff4f7b !important;
}
.text-warning {
  color: #c1c1c1 !important;
}
.text-danger {
  color: #444444 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #107172 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #08589e !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #107172 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #e8003a !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #8e8e8e !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #111111 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #1dc9cb;
}
.alert-info {
  background-color: #ff4f7b;
}
.alert-warning {
  background-color: #c1c1c1;
}
.alert-danger {
  background-color: #444444;
}
.mbr-section-btn a.btn:hover,
.mbr-section-btn a.btn:focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #1dc9cb;
  border-color: #1dc9cb;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.btn-form {
  border-radius: .25rem;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #1dc9cb;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #bef5f6;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #bef5f6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b7b7b7;
}
/* Scroll to top button*/
.mbr-arrow-up a {
  width: 61px;
  height: 61px;
}
#scrollToTop a {
  background: #1dc9cb;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #000000;
  width: 3%;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #000000;
  border-right: 2px solid #000000;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow {
  background-color: transparent;
  opacity: .7;
  transition: .3s;
  text-align: center;
  width: auto;
}
.mbr-arrow:hover {
  opacity: 1;
}
.mbr-arrow a {
  display: block;
}
.mbr-arrow a i {
  color: #1dc9cb;
  top: auto !important;
  left: auto !important;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Heebo', sans-serif;
  font-size: 1rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #1dc9cb;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #1dc9cb;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #1dc9cb;
}
.btn-social + .btn {
  margin-left: .1rem;
}
.input-wrap input {
  border-radius: 0rem;
  width: 100%;
  padding: .5rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid #efefef;
}
.input-main textarea {
  background-color: #ffffff;
  padding: .5rem 1rem;
  border: 1px solid #efefef;
  border-radius: 0;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
.cid-qQuYDibeUw .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 16px;
  position: absolute;
  right: 1rem;
  top: 30%;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qQuYDibeUw .nav-item,
.cid-qQuYDibeUw .nav-link,
.cid-qQuYDibeUw .navbar-caption {
  font-weight: normal;
}
.cid-qQuYDibeUw .nav-item:focus,
.cid-qQuYDibeUw .nav-link:focus {
  outline: none;
}
@media (min-width: 992px) {
  .cid-qQuYDibeUw .dropdown-item:hover:before {
    transform: scale(1, 1);
  }
}
.cid-qQuYDibeUw .dropdown .dropdown-menu .dropdown-item {
  display: flex;
  align-items: center;
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qQuYDibeUw .dropdown .dropdown-menu .dropdown-item::after {
  right: 1rem;
}
.cid-qQuYDibeUw .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  transform: scale(0, 1);
}
.cid-qQuYDibeUw .dropdown .dropdown-menu .dropdown-item.dropdown-toggle:before {
  display: none;
}
.cid-qQuYDibeUw .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-qQuYDibeUw .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qQuYDibeUw .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-qQuYDibeUw .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-qQuYDibeUw .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #232323;
}
.cid-qQuYDibeUw .navbar.opened {
  transition: all .3s;
  background: #232323 !important;
}
.cid-qQuYDibeUw .navbar .dropdown-item {
  padding: .235rem 2.5rem .235rem 1.5rem;
}
.cid-qQuYDibeUw .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
  display: none !important;
}
.cid-qQuYDibeUw .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-qQuYDibeUw .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-qQuYDibeUw .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-qQuYDibeUw .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-qQuYDibeUw .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-qQuYDibeUw .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-qQuYDibeUw .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-qQuYDibeUw .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
  justify-content: center;
}
.cid-qQuYDibeUw .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-qQuYDibeUw .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-qQuYDibeUw .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-qQuYDibeUw .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-qQuYDibeUw .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-qQuYDibeUw .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-qQuYDibeUw .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-qQuYDibeUw .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-qQuYDibeUw .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-qQuYDibeUw .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
    justify-content: center;
  }
  .cid-qQuYDibeUw .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-qQuYDibeUw .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-qQuYDibeUw .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-qQuYDibeUw .navbar.navbar-short {
  background: #232323 !important;
  min-height: 60px;
}
.cid-qQuYDibeUw .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-qQuYDibeUw .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-qQuYDibeUw .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-qQuYDibeUw .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-qQuYDibeUw .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-qQuYDibeUw .dropdown-item.active,
.cid-qQuYDibeUw .dropdown-item:active {
  background-color: transparent;
}
.cid-qQuYDibeUw .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-qQuYDibeUw .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-qQuYDibeUw .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-qQuYDibeUw .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #232323;
}
.cid-qQuYDibeUw .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-qQuYDibeUw .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qQuYDibeUw ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-qQuYDibeUw .navbar-buttons {
  text-align: center;
}
.cid-qQuYDibeUw button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-qQuYDibeUw button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #444444;
}
.cid-qQuYDibeUw button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qQuYDibeUw button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qQuYDibeUw button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qQuYDibeUw button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qQuYDibeUw nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qQuYDibeUw nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qQuYDibeUw nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qQuYDibeUw nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qQuYDibeUw .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-qQuYDibeUw a.nav-link {
  justify-content: center;
  display: flex;
  align-items: center;
}
.cid-qQuYDibeUw .mbr-iconfont {
  font-size: 1rem;
  color: #ffffff;
  display: inline-flex;
}
.cid-qQuYDibeUw .mbr-iconfont:before {
  padding: .5rem;
  border: 2px solid;
  border-radius: 100px;
}
.cid-qQuYDibeUw .soc-item {
  margin: .5rem .3rem;
}
.cid-qQuYDibeUw .icons-menu {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
  align-items: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-qQuYDibeUw .navbar {
    height: 77px;
  }
  .cid-qQuYDibeUw .navbar.opened {
    height: auto;
  }
  .cid-qQuYDibeUw .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-qQH2353ng1 {
  padding-top: 135px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/oasis-room2escape-5-1280x720.jpg");
}
.cid-qQH2353ng1 .mbr-overlay {
  background: #232323;
}
.cid-qQH2353ng1 .mbr-section-subtitle {
  color: #e3e3e3;
}
.cid-qQH2353ng1 H1 {
  text-align: left;
}
.cid-qQH2353ng1 .mbr-section-subtitle,
.cid-qQH2353ng1 mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-qVByxp9pLr {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2c4d6b;
}
.cid-qVByxp9pLr .accordion-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-qVByxp9pLr .panel-group {
  width: 100%;
}
.cid-qVByxp9pLr .panel-text,
.cid-qVByxp9pLr .header-text,
.cid-qVByxp9pLr .mbr-section-subtitle {
  color: #8d97ad;
}
.cid-qVByxp9pLr .card {
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  margin-bottom: .5rem;
  border: none;
  border-top-left-radius: .25rem !important;
  border-top-right-radius: .25rem !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.cid-qVByxp9pLr .card .card-header {
  border-radius: 0 !important;
  border-bottom: none !important;
  padding: 0;
}
.cid-qVByxp9pLr .card .card-header a.panel-title {
  justify-content: space-between;
  transition: all .3s;
  background-color: #ffffff;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-decoration: none !important;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  line-height: normal;
}
.cid-qVByxp9pLr .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-qVByxp9pLr .card .card-header a.panel-title .sign {
  padding-right: 1rem;
}
.cid-qVByxp9pLr .card .card-header a.panel-title h4 {
  padding: 1rem 1rem;
  margin-bottom: 0;
  width: 100%;
}
.cid-qVByxp9pLr .card .card-header a.panel-title[aria-expanded="true"] {
  background-color: #1dc9cb;
}
.cid-qVByxp9pLr .card .card-header a.panel-title[aria-expanded="true"] .header-text {
  color: #000000 !important;
}
.cid-qVByxp9pLr .card .panel-body {
  background: #ffffff;
}
.cid-qVByxp9pLr .sign {
  color: #232323;
}
.cid-qVByxp9pLr .mbr-section-subtitle {
  color: #ffffff;
}
.cid-qVByxp9pLr .mbr-section-title {
  color: #ffffff;
}
.cid-qQHensMPiZ {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #232323;
}
.cid-qQHensMPiZ .mbr-iconfont {
  font-size: 48px;
  transition: color .3s;
  color: #1dc9cb;
}
.cid-qQHensMPiZ .mbr-section-title {
  margin: 0;
}
.cid-qQHensMPiZ .card-img {
  text-align: center;
}
.cid-qQHensMPiZ .mbr-section-subtitle,
.cid-qQHensMPiZ .mbr-text {
  color: #8d97ad;
}
.cid-qQHensMPiZ .row-item {
  border-radius: .25rem;
  background: #ffffff;
  padding: 2.5rem;
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}
@media (max-width: 767px) {
  .cid-qQHensMPiZ .card-img,
  .cid-qQHensMPiZ .mbr-text,
  .cid-qQHensMPiZ .mbr-card-title,
  .cid-qQHensMPiZ .mbr-section-subtitle,
  .cid-qQHensMPiZ .mbr-section-title,
  .cid-qQHensMPiZ .underline {
    text-align: center !important;
  }
}
@media (max-width: 991px) {
  .cid-qQHensMPiZ .row-item {
    margin-bottom: 2rem;
  }
}
.cid-qVBtmNk1gl {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/mbr-1620x1080.jpg");
}
.cid-qVBtmNk1gl .main-row {
  flex-direction: row-reverse;
}
.cid-qVBtmNk1gl .row {
  justify-content: flex-end;
  align-items: stretch;
}
.cid-qVBtmNk1gl .content-panel {
  padding: 2rem;
  background-color: #1dc9cb;
  border-radius: .25rem;
  overflow: hidden;
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}
.cid-qVBtmNk1gl .content-block {
  color: #efefef;
}
.cid-qVBtmNk1gl .input-wrap,
.cid-qVBtmNk1gl .form-group {
  padding-left: .5rem;
  padding-right: .5rem;
}
.cid-qVBtmNk1gl .field,
.cid-qVBtmNk1gl .form-control {
  border-radius: .25rem !important;
  overflow: hidden;
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}
@media (max-width: 768px) {
  .cid-qVBtmNk1gl .main-row {
    flex-direction: column-reverse;
  }
  .cid-qVBtmNk1gl .text-block {
    margin-bottom: 2rem;
  }
}
.cid-qVBF8gWZWS {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #efefef;
}
.cid-qVBF8gWZWS .mbr-section-subtitle {
  color: #767676;
}
.cid-qVBF8gWZWS .btn {
  margin: 0 0 .5rem 0;
}
@media (max-width: 768px) {
  .cid-qVBF8gWZWS h2,
  .cid-qVBF8gWZWS h3 {
    text-align: center !important;
  }
  .cid-qVBF8gWZWS .mbr-section-btn {
    text-align: center !important;
  }
}
.cid-qVBF8gWZWS .mbr-section-subtitle B {
  color: #232323;
}
.cid-qQuYDibeUw .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 16px;
  position: absolute;
  right: 1rem;
  top: 30%;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qQuYDibeUw .nav-item,
.cid-qQuYDibeUw .nav-link,
.cid-qQuYDibeUw .navbar-caption {
  font-weight: normal;
}
.cid-qQuYDibeUw .nav-item:focus,
.cid-qQuYDibeUw .nav-link:focus {
  outline: none;
}
@media (min-width: 992px) {
  .cid-qQuYDibeUw .dropdown-item:hover:before {
    transform: scale(1, 1);
  }
}
.cid-qQuYDibeUw .dropdown .dropdown-menu .dropdown-item {
  display: flex;
  align-items: center;
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qQuYDibeUw .dropdown .dropdown-menu .dropdown-item::after {
  right: 1rem;
}
.cid-qQuYDibeUw .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  transform: scale(0, 1);
}
.cid-qQuYDibeUw .dropdown .dropdown-menu .dropdown-item.dropdown-toggle:before {
  display: none;
}
.cid-qQuYDibeUw .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-qQuYDibeUw .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qQuYDibeUw .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-qQuYDibeUw .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-qQuYDibeUw .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #232323;
}
.cid-qQuYDibeUw .navbar.opened {
  transition: all .3s;
  background: #232323 !important;
}
.cid-qQuYDibeUw .navbar .dropdown-item {
  padding: .235rem 2.5rem .235rem 1.5rem;
}
.cid-qQuYDibeUw .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
  display: none !important;
}
.cid-qQuYDibeUw .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-qQuYDibeUw .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-qQuYDibeUw .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-qQuYDibeUw .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-qQuYDibeUw .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-qQuYDibeUw .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-qQuYDibeUw .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-qQuYDibeUw .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
  justify-content: center;
}
.cid-qQuYDibeUw .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-qQuYDibeUw .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-qQuYDibeUw .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-qQuYDibeUw .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-qQuYDibeUw .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-qQuYDibeUw .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-qQuYDibeUw .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-qQuYDibeUw .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-qQuYDibeUw .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-qQuYDibeUw .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
    justify-content: center;
  }
  .cid-qQuYDibeUw .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-qQuYDibeUw .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-qQuYDibeUw .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-qQuYDibeUw .navbar.navbar-short {
  background: #232323 !important;
  min-height: 60px;
}
.cid-qQuYDibeUw .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-qQuYDibeUw .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-qQuYDibeUw .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-qQuYDibeUw .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-qQuYDibeUw .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-qQuYDibeUw .dropdown-item.active,
.cid-qQuYDibeUw .dropdown-item:active {
  background-color: transparent;
}
.cid-qQuYDibeUw .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-qQuYDibeUw .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-qQuYDibeUw .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-qQuYDibeUw .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #232323;
}
.cid-qQuYDibeUw .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-qQuYDibeUw .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qQuYDibeUw ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-qQuYDibeUw .navbar-buttons {
  text-align: center;
}
.cid-qQuYDibeUw button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-qQuYDibeUw button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #444444;
}
.cid-qQuYDibeUw button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qQuYDibeUw button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qQuYDibeUw button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qQuYDibeUw button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qQuYDibeUw nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qQuYDibeUw nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qQuYDibeUw nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qQuYDibeUw nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qQuYDibeUw .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-qQuYDibeUw a.nav-link {
  justify-content: center;
  display: flex;
  align-items: center;
}
.cid-qQuYDibeUw .mbr-iconfont {
  font-size: 1rem;
  color: #ffffff;
  display: inline-flex;
}
.cid-qQuYDibeUw .mbr-iconfont:before {
  padding: .5rem;
  border: 2px solid;
  border-radius: 100px;
}
.cid-qQuYDibeUw .soc-item {
  margin: .5rem .3rem;
}
.cid-qQuYDibeUw .icons-menu {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
  align-items: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-qQuYDibeUw .navbar {
    height: 77px;
  }
  .cid-qQuYDibeUw .navbar.opened {
    height: auto;
  }
  .cid-qQuYDibeUw .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-qR4oQCjILN {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url("../../../assets/images/the-ungasan-view-from-pool-550x405.jpg");
}
.cid-qR4oQCjILN .mbr-overlay {
  background: #444444;
}
.cid-qR4oQCjILN .mbr-section-subtitle {
  color: #e3e3e3;
}
.cid-qR4oQCjILN H1 {
  color: #ffffff;
}
.cid-qR4ynREpcM {
  padding-top: 90px;
  padding-bottom: 75px;
  background-color: #ffffff;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-qR4ynREpcM .mbr-section-title {
  color: #444444;
}
.cid-qR4ynREpcM .mbr-section-subtitle {
  color: #8d97ad;
}
.cid-qR4ynREpcM .mbr-text {
  color: #8d97ad;
}
.cid-qR4ynREpcM .nav {
  border: none;
}
.cid-qR4ynREpcM .nav-tabs {
  display: table;
  width: 100%;
}
.cid-qR4ynREpcM .nav-tabs .nav-item {
  display: table-cell;
}
.cid-qR4ynREpcM .card-img {
  overflow: hidden;
  border-radius: .25rem;
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.3);
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.3);
}
.cid-qR4ynREpcM .tab-content {
  margin-top: 3rem;
}
.cid-qR4ynREpcM .nav-tabs .nav-link {
  display: flex;
  color: #000000;
  box-sizing: border-box;
  font-style: normal;
  background: #f4f8fa;
  font-weight: 500;
  padding: 1rem 1rem;
  border-right: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  margin: 0px;
  border-radius: 0px !important;
  border-bottom: 1px solid #dee2e6;
  transition: all .3s;
}
.cid-qR4ynREpcM .nav-tabs .nav-link:hover {
  background-color: #ffffff;
  color: #000000;
}
.cid-qR4ynREpcM .nav-tabs .nav-link.active {
  font-weight: 500;
  color: #000000;
  font-style: normal;
  background: #ffffff;
  border-bottom: none;
}
.cid-qR4ynREpcM .nav-tabs .nav-link span {
  margin-right: 0.5rem;
}
@media (max-width: 767px) {
  .cid-qR4ynREpcM .nav-item {
    display: table-row !important;
  }
}
.cid-qR4E91mvYX {
  padding-top: 90px;
  padding-bottom: 75px;
  background-color: #ffffff;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-qR4E91mvYX .mbr-section-title {
  color: #444444;
}
.cid-qR4E91mvYX .mbr-section-subtitle {
  color: #8d97ad;
}
.cid-qR4E91mvYX .mbr-text {
  color: #8d97ad;
}
.cid-qR4E91mvYX .nav {
  border: none;
}
.cid-qR4E91mvYX .nav-tabs {
  display: table;
  width: 100%;
}
.cid-qR4E91mvYX .nav-tabs .nav-item {
  display: table-cell;
}
.cid-qR4E91mvYX .card-img {
  overflow: hidden;
  border-radius: .25rem;
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.3);
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.3);
}
.cid-qR4E91mvYX .tab-content {
  margin-top: 3rem;
}
.cid-qR4E91mvYX .nav-tabs .nav-link {
  display: flex;
  color: #000000;
  box-sizing: border-box;
  font-style: normal;
  background: #f4f8fa;
  font-weight: 500;
  padding: 1rem 1rem;
  border-right: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  margin: 0px;
  border-radius: 0px !important;
  border-bottom: 1px solid #dee2e6;
  transition: all .3s;
}
.cid-qR4E91mvYX .nav-tabs .nav-link:hover {
  background-color: #ffffff;
  color: #000000;
}
.cid-qR4E91mvYX .nav-tabs .nav-link.active {
  font-weight: 500;
  color: #000000;
  font-style: normal;
  background: #ffffff;
  border-bottom: none;
}
.cid-qR4E91mvYX .nav-tabs .nav-link span {
  margin-right: 0.5rem;
}
@media (max-width: 767px) {
  .cid-qR4E91mvYX .nav-item {
    display: table-row !important;
  }
}
.cid-qQuYDibeUw .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 16px;
  position: absolute;
  right: 1rem;
  top: 30%;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qQuYDibeUw .nav-item,
.cid-qQuYDibeUw .nav-link,
.cid-qQuYDibeUw .navbar-caption {
  font-weight: normal;
}
.cid-qQuYDibeUw .nav-item:focus,
.cid-qQuYDibeUw .nav-link:focus {
  outline: none;
}
@media (min-width: 992px) {
  .cid-qQuYDibeUw .dropdown-item:hover:before {
    transform: scale(1, 1);
  }
}
.cid-qQuYDibeUw .dropdown .dropdown-menu .dropdown-item {
  display: flex;
  align-items: center;
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qQuYDibeUw .dropdown .dropdown-menu .dropdown-item::after {
  right: 1rem;
}
.cid-qQuYDibeUw .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  transform: scale(0, 1);
}
.cid-qQuYDibeUw .dropdown .dropdown-menu .dropdown-item.dropdown-toggle:before {
  display: none;
}
.cid-qQuYDibeUw .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-qQuYDibeUw .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qQuYDibeUw .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-qQuYDibeUw .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-qQuYDibeUw .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #232323;
}
.cid-qQuYDibeUw .navbar.opened {
  transition: all .3s;
  background: #232323 !important;
}
.cid-qQuYDibeUw .navbar .dropdown-item {
  padding: .235rem 2.5rem .235rem 1.5rem;
}
.cid-qQuYDibeUw .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
  display: none !important;
}
.cid-qQuYDibeUw .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-qQuYDibeUw .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-qQuYDibeUw .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-qQuYDibeUw .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-qQuYDibeUw .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-qQuYDibeUw .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-qQuYDibeUw .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-qQuYDibeUw .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
  justify-content: center;
}
.cid-qQuYDibeUw .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-qQuYDibeUw .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-qQuYDibeUw .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-qQuYDibeUw .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-qQuYDibeUw .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-qQuYDibeUw .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-qQuYDibeUw .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-qQuYDibeUw .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-qQuYDibeUw .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-qQuYDibeUw .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
    justify-content: center;
  }
  .cid-qQuYDibeUw .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-qQuYDibeUw .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-qQuYDibeUw .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-qQuYDibeUw .navbar.navbar-short {
  background: #232323 !important;
  min-height: 60px;
}
.cid-qQuYDibeUw .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-qQuYDibeUw .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-qQuYDibeUw .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-qQuYDibeUw .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-qQuYDibeUw .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-qQuYDibeUw .dropdown-item.active,
.cid-qQuYDibeUw .dropdown-item:active {
  background-color: transparent;
}
.cid-qQuYDibeUw .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-qQuYDibeUw .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-qQuYDibeUw .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-qQuYDibeUw .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #232323;
}
.cid-qQuYDibeUw .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-qQuYDibeUw .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qQuYDibeUw ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-qQuYDibeUw .navbar-buttons {
  text-align: center;
}
.cid-qQuYDibeUw button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-qQuYDibeUw button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #444444;
}
.cid-qQuYDibeUw button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qQuYDibeUw button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qQuYDibeUw button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qQuYDibeUw button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qQuYDibeUw nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qQuYDibeUw nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qQuYDibeUw nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qQuYDibeUw nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qQuYDibeUw .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-qQuYDibeUw a.nav-link {
  justify-content: center;
  display: flex;
  align-items: center;
}
.cid-qQuYDibeUw .mbr-iconfont {
  font-size: 1rem;
  color: #ffffff;
  display: inline-flex;
}
.cid-qQuYDibeUw .mbr-iconfont:before {
  padding: .5rem;
  border: 2px solid;
  border-radius: 100px;
}
.cid-qQuYDibeUw .soc-item {
  margin: .5rem .3rem;
}
.cid-qQuYDibeUw .icons-menu {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
  align-items: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-qQuYDibeUw .navbar {
    height: 77px;
  }
  .cid-qQuYDibeUw .navbar.opened {
    height: auto;
  }
  .cid-qQuYDibeUw .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-qR5tt4vhee {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #f4f8fa;
}
.cid-qR5tt4vhee .mbr-iconfont {
  font-size: 48px;
  transition: color .3s;
  color: #1dc9cb;
}
.cid-qR5tt4vhee .mbr-section-title {
  margin: 0;
}
.cid-qR5tt4vhee .card-img {
  text-align: center;
}
.cid-qR5tt4vhee .mbr-section-subtitle,
.cid-qR5tt4vhee .mbr-text {
  color: #8d97ad;
}
.cid-qR5tt4vhee .row-item {
  border-radius: .25rem;
  background: #ffffff;
  padding: 2.5rem;
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}
@media (max-width: 767px) {
  .cid-qR5tt4vhee .card-img,
  .cid-qR5tt4vhee .mbr-text,
  .cid-qR5tt4vhee .mbr-card-title,
  .cid-qR5tt4vhee .mbr-section-subtitle,
  .cid-qR5tt4vhee .mbr-section-title,
  .cid-qR5tt4vhee .underline {
    text-align: center !important;
  }
}
@media (max-width: 991px) {
  .cid-qR5tt4vhee .row-item {
    margin-bottom: 2rem;
  }
}
.cid-qR5vO313fl {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #f4f8fa;
}
.cid-qR5vO313fl .mbr-iconfont {
  font-size: 48px;
  transition: color .3s;
  color: #1dc9cb;
}
.cid-qR5vO313fl .mbr-section-title {
  margin: 0;
}
.cid-qR5vO313fl .card-img {
  text-align: center;
}
.cid-qR5vO313fl .mbr-section-subtitle,
.cid-qR5vO313fl .mbr-text {
  color: #8d97ad;
}
.cid-qR5vO313fl .row-item {
  border-radius: .25rem;
  background: #ffffff;
  padding: 2.5rem;
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}
@media (max-width: 767px) {
  .cid-qR5vO313fl .card-img,
  .cid-qR5vO313fl .mbr-text,
  .cid-qR5vO313fl .mbr-card-title,
  .cid-qR5vO313fl .mbr-section-subtitle,
  .cid-qR5vO313fl .mbr-section-title,
  .cid-qR5vO313fl .underline {
    text-align: center !important;
  }
}
@media (max-width: 991px) {
  .cid-qR5vO313fl .row-item {
    margin-bottom: 2rem;
  }
}
